*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
body{
    font-family: "Ubuntu", sans-serif;
}
.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* header section styling */
.header_section{
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo styling */
.logo{
    color: white;
    font-family: "Russo One", sans-serif;
    font-size: 1rem;
    padding: 1em;
    display: flex;
    flex-shrink: 1;
}
.logo:hover{
    color: #EC253F;
}
/* nav bar */
.nav{
    width: 260px;
    font-size: 1rem;
}
.links{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.links>li>a{
    color: white;
    text-decoration: none;
}
/* Hero Section */
.hero{
    height: 90vh;
    background-color: #e5e5f7;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#740B2E 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #740B2E 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
}
.content{
    text-align: center;
    padding: 2rem;
    line-height: 1.6;
    background-color: #e5e5f795;
    height: auto;
    flex-shrink: 1;
    flex-wrap: wrap;
    
}
.content>h1{
    font-size: 2rem;
    padding: 1.5rem;
}
.content>p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.extra{
    margin-top: 1rem;
    font-style: italic;
    font-weight: lighter;
}
.cta_button{
    background-color: #ba0642;
    color: #e5e5f7;
    padding: 0.5rem;
    text-decoration: none;
    border-radius:0.2rem;
    border: 1px solid rgb(246, 230, 4);
}

